#root, .App, html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  display: column;
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
}
.Title {
  width: 394px; 
  height: 60px;
  line-height: 60px;
}
img {
  border: 0;
  border-style: none;
}
.Menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  line-height: 60px;
  vertical-align: middle;
  max-width: 40%;
  min-width: 35%;

}
.Header {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  height: 60px;
  padding: 0px;
  color: #181B17;
  width: 100%;
  vertical-align: middle;
}
.resume {
  width: 600px;
  background-color: white;
}
.Leftside {
  background-color: #4A5048;
  width: 394px;
  height: 100%;
  flex: 1 1 1;
  color: #DBE4D7;
}
.Rightside {
  background-color: #FEFFF8;
  flex: 1;
}
.resume{
  margin: auto;
}
.Content{
  flex: 1;
  display: flex;

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
